body.crew {
	background: url("crew/background-crew-mobile.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 768px) {
	body.crew {
		background: url("crew/background-crew-tablet.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1440px) {
	body.crew {
		background: url("crew/background-crew-desktop.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
