body.destination {
	background: url("/destination/background-destination-mobile.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper {
	.slide-content {
		--flow-space: 2.5rem;
		text-align: center;
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-areas:
			"image"
			"pagination"
			"mainBlock"
			"statContent";

		.image {
			width: 10.625rem;
			margin-inline: auto;
			grid-area: image;
		}

		.page-pagination {
			grid-area: pagination;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			grid-area: pagination;

			.swiper-pagination-bullet {
				opacity: 1;
				width: auto;
				height: auto;
				background-color: transparent;
				text-transform: uppercase;
				border-radius: unset;
				letter-spacing: 2.3625px;
				position: relative;

				&::after {
					opacity: 0;
					position: absolute;
					content: "";
					width: 100%;
					height: 3px;
					background-color: var(--clr-p-100);
					left: 0;
					bottom: -6px;
					transition: opacity 1s ease-in-out;
				}

				&-active {
					&::after {
						opacity: 1;
					}
				}
			}
		}

		.main-block {
			grid-area: mainBlock;

			&__header {
				font-family: var(--ff-400);
				text-transform: uppercase;
				font-size: 3.5rem;
				text-align: center;
				line-height: 64px;
			}
		}

		.stat-content {
			border-top: 1px solid rgba(#fff, 0.25);
			padding-top: 2.5rem;
			grid-area: statContent;
			display: grid;
			grid-auto-columns: 1fr;
			grid-template-areas:
				"item1"
				"item2";

			.stat-block {
				--flow-space: 2rem;

				&:nth-child(1) {
					grid-area: item1;
				}

				&:nth-child(2) {
					grid-area: item2;
				}

				&__header {
					text-transform: uppercase;
					color: var(--clr-p-200);
					letter-spacing: 2.3625px;
				}

				&__stat {
					text-transform: uppercase;
					font-family: var(--ff-400);
					font-size: 1.375rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	body.destination {
		background: url("/destination/background-destination-tablet.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.swiper {
		.slide-content {
			--flow-space: 3.5rem;

			.image {
				width: 18.75rem;
			}

			.page-pagination,
			.main-block {
				width: 40%;
				margin-inline: auto;
			}

			.main-block {
				width: 60%;

				&__header {
					text-align: left;
				}
			}

			.stat-content {
				grid-auto-columns: 1fr 1fr;
				grid-template-areas:
					"item1 item2"
					"item1 item2";
				.stat-block {
					&:nth-child(2) {
						margin-top: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	body.destination {
		background: url("/destination/background-destination-desktop.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.swiper {
		.slide-content {
			text-align: left;
			--flow-space: 2.5rem;
			align-items: center;

			grid-template-areas:
				"image pagination"
				"image mainBlock"
				"image statContent";

			.image {
				width: 27.8125rem;
			}

			.page-pagination,
			.main-block {
				width: 50%;
				margin-inline: unset;
			}

			.main-block {
				width: 100%;

				&__header {
					font-size: 6.25rem;
					line-height: 7.8125rem;
				}
			}

			.page-pagination {
				margin-top: 0;
			}

			.page-pagination,
			.main-block,
			.stat-content {
				margin-left: 8rem;
			}

			.main-block,
			.stat-content {
				width: auto;
			}
		}
	}
}
