*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	overflow-y: hidden;
}
body {
	-webkit-font-smoothing: antialiased;
	padding-top: 20px;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	background-color: var(--clr-p-300);
}

.container {
	width: min(80%, 327px);
	margin-inline: auto;
}

@media (min-width: 768px) {
	body {
		padding-top: 0;
	}

	.container {
		width: min(80%, 683px);
	}
}

@media (min-width: 1440px) {
	.container {
		width: min(80%, 1218px);
	}
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}